body {
    font-family: cursive;
}

header img {
    width: 75px;
}

header {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
nav {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

nav a {
    color: white;
    background-color: saddlebrown;
    border-radius: 25px;
    text-decoration: none;
    padding: 7px;
    margin: 25px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: saddlebrown;
    border: dashed 5px rgb(107, 53, 14);
}

header p {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: saddlebrown;
}

.headtd {
    background-color: rgb(231, 231, 151);
}

